Repository oneearlybird-ai/oneearlybirdV1master: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc

eslint:
  name: eslint (staged JS/TS)
  entry: npx --no eslint
  language: system
  pass_filenames: true
  args:
  - --max-warnings=0

tsc:
  name: tsc typecheck (project)
  entry: npx --no tsc -p .
  language: system
  pass_filenames: false

Plasmic pages: force Node runtime to avoid Edge FS/SSR issues; keep dynamic rendering
  apps/web/app/plasmic-host/page.tsx
  apps/web/app/plasmic/[...slug]/page.tsx
Due: eslint, tsc

media: direct echo (no re-encode, no aggregation) for ECHO_BACK to eliminate content path; keep vendor path aggregated
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

Plasmic: guard missing env (project/token) to avoid build-time fetch; return 404 when not configured
  apps/web/app/plasmic/[...slug]/page.tsx
  apps/web/lib/plasmic.ts
Due: eslint, tsc

media: use reference μ-law encoder for test tone as well
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

commit
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

Update server.mjs
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

commit
  infra/terraform/media-gateway/plan.tfplan
  infra/terraform/media-gateway/plan.tgt
  infra/terraform/media-gateway/user_data.tpl
Due: none

commit
  infra/terraform/media-gateway/compute.tf
  infra/terraform/media-gateway/iam.tf
  infra/terraform/media-gateway/plan.apply
  infra/terraform/media-gateway/user_data.tpl
  infra/terraform/media-gateway/variables.tf
Due: none

commit
  infra/terraform/media-gateway/compute.tf
  infra/terraform/media-gateway/plan.key
  infra/terraform/media-gateway/plan.ssm
  infra/terraform/media-gateway/user_data.tpl
  infra/terraform/media-gateway/variables.tf
Due: none

commit
  infra/terraform/media-gateway/plan.wav
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

ingest: accept x-log-key or Authorization: Bearer VOICE_LOG_BEARER; relax strict Twilio signature requirement for Event Streams; PHI-safe gw-log line
  apps/web/app/api/voice/logs/ingest/route.ts
Due: eslint, tsc

media-gateway: post PHI-safe vendor head logs to LOG_WEBHOOK_URL; update artifact key/SHA
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

ingest: also accept x-log-key matching LOG_WEBHOOK_KEY (from media gateway posts)
  apps/web/app/api/voice/logs/ingest/route.ts
  infra/terraform/media-gateway/plan.art2
Due: eslint, tsc

media-gateway: add ELEVENLABS_OUTPUT_FORMAT; pin output_format on WS URL and sign request; update artifact key/SHA
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

media-gateway: add /diag endpoint and diag counters (vendor head hex, WAV info, vfmt, Twilio send sizes); update artifact key/SHA
  infra/terraform/media-gateway/plan.iam
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

media-gateway: fix path-style token handling for static MEDIA_AUTH_TOKEN; remove stale startTx/stopTx refs; strict 20ms immediate μ-law send; refresh S3 prefix IAM
  infra/terraform/media-gateway/iam.tf
  infra/terraform/media-gateway/plan.s3
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

Revert "ingest: also accept x-log-key matching LOG_WEBHOOK_KEY (from media gateway posts)"
  apps/web/app/api/voice/logs/ingest/route.ts
  infra/terraform/media-gateway/plan.art2
Due: eslint, tsc

Revert "media-gateway: add ELEVENLABS_OUTPUT_FORMAT; pin output_format on WS URL and sign request; update artifact key/SHA"
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

Revert "ingest: accept x-log-key or Authorization: Bearer VOICE_LOG_BEARER; relax strict Twilio signature requirement for Event Streams; PHI-safe gw-log line"
  apps/web/app/api/voice/logs/ingest/route.ts
Due: eslint, tsc

Revert "media-gateway: fix path-style token handling for static MEDIA_AUTH_TOKEN; remove stale startTx/stopTx refs; strict 20ms immediate μ-law send; refresh S3 prefix IAM"
  infra/terraform/media-gateway/iam.tf
  infra/terraform/media-gateway/plan.s3
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

Revert "media-gateway: add /diag endpoint and diag counters (vendor head hex, WAV info, vfmt, Twilio send sizes); update artifact key/SHA"
  infra/terraform/media-gateway/plan.iam
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

Revert "media-gateway: post PHI-safe vendor head logs to LOG_WEBHOOK_URL; update artifact key/SHA"
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

media-gateway: switch ElevenLabs bridge to ConvAI schema (user_audio_chunk + type:audio parsing); remove OpenAI-style append/commit; keep strict 20ms PCMU out
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway: accept static path tokens; ConvAI-only messaging; optional vendor ulaw_8000 pass-through; log ConvAI formats; bump artifact key/sha; fix lint
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

media-gateway: remove unused stopTx after inlining
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway: set VENDOR_OUT_FORMAT=pcm_16000; disable DIAG_EL_AUTOPROBE by default in user-data
  infra/terraform/media-gateway/user_data.tpl
Due: none

media-gateway: update artifact key/sha to latest build
  infra/terraform/media-gateway/variables.tf
Due: none

media-gateway DSP: add high-fidelity 16k→8k windowed-sinc FIR decimator; keep μ-law encoder; update artifact key/sha
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

media-gateway: accept ConvAI binary audio frames from ElevenLabs (forward to Twilio); bump artifact
  apps/web/docs/vendor/elevenlabs/agent_agent_2701k64fpdq3fq080tsdkz30zjk7.json
  apps/web/docs/vendor/elevenlabs/agent_agent_5901k5st1z2vevk93wmzg8h9nanq.json
  apps/web/docs/vendor/elevenlabs/agent_agent_5901k5st1z2vevk93wmzg8h9nanq_telephony_import.json
  apps/web/docs/vendor/elevenlabs/agent_create_min.json
  apps/web/docs/vendor/elevenlabs/agent_create_result.json
  apps/web/docs/vendor/elevenlabs/telephony_import_response_snippet.txt
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

media-gateway DSP: force PCM16LE for ConvAI binary frames; remove unused detectEndian; deploy
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway DSP: remove unused const; commit sniffer + fade-in; deploy artifact already updated
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway: prefer JSON ConvAI audio_event; ignore vendor binary frames unless EL_ACCEPT_BINARY=true; deploy
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway: vendor source gating (json vs bin) + WAV mu-law strip for pass-through; update artifact key/sha to e4b6b96c; deploy already applied
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/variables.tf
Due: eslint

media-gateway DSP: precise source gating (json/bin) and format decision; JSON treated as PCM16LE; binary WAV header strip; strict 20ms alignment; deploy
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway: prefer JSON audio_event over binary when both present (source gating)
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway DSP: add PHI-safe diagnostics (head hex, rms16, sendBytes) and tighten source preference; deploy
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway DSP: clean up unused locals; use session properties for sample rate and JSON preference; deploy
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway DSP: record agentOutFmt from metadata; use session streamSr + JSON preference; deploy
  apps/web/00:46.850]
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway DSP: gate pass-through on agentOutFmt=ulaw_8000 (no re-encode); deploy
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway DSP: vendor pass-through gated solely by agentOutFmt ulaw_8000; remove OUT_FMT influence; log mode; deploy
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|tsx)$
