Repository oneearlybird-ai/oneearlybirdV1master: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (baseline required)
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/semgrep/semgrep
    rev: v1.83.0
    hooks:
      - id: semgrep
        name: semgrep (security packs)
        args:
          [
            "--error",
            "--timeout=0",
            "--config=p/security-audit",
            "--config=p/secrets",
            "--config=p/owasp-top-ten",
            "--config=p/cwe-top-25",
            "--exclude","node_modules","--exclude",".next","--exclude",".vercel","--exclude","dist","--exclude","build","--exclude",".git",
          ]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        name: gitleaks (redacted)
        args: ["detect","--redact","--verbose","--source","."]

  - repo: local
    hooks:
      - id: eslint
        name: eslint (staged JS/TS)
        entry: npx --no eslint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: true
        args: ["--max-warnings=0"]
      - id: tsc
        name: tsc typecheck (project)
        entry: npx --no tsc -p .
        language: system
        files: "\\.(ts|tsx)$"
        pass_filenames: false

      - id: prepush-security
        name: pre-push heavy security scan (semgrep+trivy)
        entry: bash scripts/prepush_security.sh
        language: system
        pass_filenames: false
        stages: [pre-push]

docs(sec): add read-only GitHub/Vercel linking script + least-privilege guide
  apps/web/docs/security/least_privilege_linking.md
  scripts/bootstrap_readonly_links.sh
Due: none

feat(stubs): add Tools (501) and KB (202) JSON-validated stubs; no PHI logs
  apps/web/app/api/kb/[action]/route.ts
  apps/web/app/api/tools/[...path]/route.ts
Due: eslint, tsc

chore(ops): add backup_repo.sh to create Desktop tar.gz + git bundle backups
  scripts/backup_repo.sh
Due: none

ci(precheck): add read-only security prechecks + custom Semgrep rules
  .github/workflows/precheck.yml
  .semgrep.custom.yml
Due: none

chore(security): enforce X-Content-Type-Options nosniff via Vercel edge headers
  vercel.json
Due: none

sec(ci): purge tracked secrets via .gitignore; lint overrides for specific files to unblock gates
  .eslintrc.cjs
  .gitignore
Due: eslint

sec(ci): purge tracked secrets from index; fix ESLint (no-empty no-op, rename catch var)
  app/api/usage/summary/route.ts
  apps/web/app/api/storage/presign/route.ts
  src/app/api/usage/summary/route.ts
Due: eslint, tsc

chore(security): remove local env/backup artifacts; ignore env and backup files
  .husky/pre-commit
  .husky/pre-push
  .secrets.baseline
  .semgrep.yml
  package.json
Due: none

chore(security): ignore local env/backup artifacts; pre-push skips env and backup files to avoid false blocks
  .gitignore
  scripts/prepush_security.sh
Due: none

sec(sast): exclude logs from SAST; redact URI creds; use safe spawn (file+args, shell:false)
  .semgrepignore
  scripts/anti_hallucination_gate.mjs
Due: eslint

chore(gate): redact via stdout/stderr patch; remove unused helpers
  scripts/anti_hallucination_gate.mjs
Due: eslint

sec(headers): add X-Content-Type-Options nosniff and Referrer-Policy
  apps/web/middleware.ts
Due: eslint, tsc

sec(semgrep): ignore node_modules/.next; billing: use STRIPE_SECRET_KEY + 403 on unsigned/invalid webhook
  .semgrepignore
  apps/web/app/api/webhooks/stripe/route.ts
Due: eslint, tsc

sec(deps): override ws to 8.17.1 in root and apps/web
  apps/web/package-lock.json
  apps/web/package.json
  package.json
Due: none

billing: /api/stripe/webhook return 403 on invalid; pin apiVersion; redis is server-only
  apps/web/app/api/stripe/webhook/route.ts
  apps/web/lib/redis.ts
Due: eslint, tsc

api: add security headers; /status and /api/usage/summary routes
  apps/api/src/server.js
Due: eslint

media(ws): scaffold minimal WS server with health, ping/pong, backpressure; no PHI logs
  apps/media/README.md
  apps/media/server.ts
Due: eslint, tsc

chore(media): package + Railway deploy helper (TLS via platform, WS_PATH=/rtm/voice)
  apps/media/package.json
  scripts/deploy_media_railway.sh
Due: none

docs(roadmap): add updated snapshot under docs/; api: fix lint no-empty catch block
  apps/api/src/server.js
  docs/roadmap_super_diamond_updated.txt
Due: eslint

chore(media): Procfile for Railway web dyno (start WS service)
  apps/media/Procfile
Due: none

chore: trigger Railway deploy (GitHub integration)
  .gitignore
  docs/deploy.md
Due: none

chore: trigger deploy again
  docs/deploy.md
Due: none

chore(web): add Vercel headers and trigger deploy
  apps/web/vercel.json
Due: none

ci: install web deps for monorepo build
  .github/workflows/ci.yml
Due: none

chore(web): allow WSS to Railway media in CSP
  apps/web/vercel.json
Due: none

ci: guard root install; always install apps/web
  .github/workflows/ci.yml
Due: none

ci: use npm install at root (npm ci behaving oddly on runner)
  .github/workflows/ci.yml
Due: none

ci(fly): deploy apps/api to Fly.io from monorepo (requires FLY_API_TOKEN)
  .github/workflows/fly-deploy.yml
Due: none

chore(media): make Railway deploy script compatible across CLI variants (link + up from apps/media)
  scripts/deploy_media_railway.sh
Due: none

media: add package-lock.json for Railway Nixpacks (npm ci)
  apps/media/package-lock.json
Due: none

media: add nixpacks.toml (install/build/start pinned; Node 20)
  apps/media/nixpacks.toml
Due: none

media: add Dockerfile + .dockerignore for Railway docker-based deploy (apps/media)
  apps/media/.dockerignore
  apps/media/Dockerfile
Due: none

media: add minimal HTTP/WS server binding with health at / and WS echo at /rtm/voice
  apps/media/nixpacks.toml
  apps/media/package.json
  apps/media/server.ts
Due: eslint, tsc

media: run without tsx (plain Node ESM); expose health at / and WS at WS_PATH
  apps/media/package.json
  apps/media/server.mjs
Due: eslint

stripe(webhook): RAW body + signature verification via constructEvent; node runtime; PHI-safe
  apps/web/app/api/stripe/webhook/route.ts
Due: eslint, tsc

stripe(webhook): RAW body + signature verification; Node runtime; PHI-safe
  apps/web/app/api/stripe/webhook/route.ts
Due: eslint, tsc

feat(web): landing cleanup — keep live-demo + mid-CTA adjacent [SVP]; fix lint in post-call webhook
  apps/web/app/api/elevenlabs/post-call/route.ts
Due: eslint, tsc

commit
  apps/web/app/api/elevenlabs/personalization/route.ts
  apps/web/app/api/elevenlabs/post-call/route.ts
  apps/web/app/api/tools/invoke/route.ts
  apps/web/app/dashboard/appointments/page.tsx
  apps/web/app/dashboard/calls/page.tsx
  apps/web/app/dashboard/integrations/page.tsx
  apps/web/app/dashboard/kb/page.tsx
  apps/web/docs/handoff_checklist.md
Due: eslint, tsc

feat(api): Twilio status callback — official validator; 403 on bad/missing signature
  apps/web/app/api/voice/status/route.ts
Due: eslint, tsc
