Repository oneearlybird-ai/oneearlybirdV1master: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (baseline required)
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/semgrep/semgrep
    rev: v1.83.0
    hooks:
      - id: semgrep
        name: semgrep (security packs)
        args:
          [
            "--error",
            "--timeout=0",
            "--config=p/security-audit",
            "--config=p/secrets",
            "--config=p/owasp-top-ten",
            "--config=p/cwe-top-25",
            "--exclude","node_modules","--exclude",".next","--exclude",".vercel","--exclude","dist","--exclude","build","--exclude",".git",
          ]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        name: gitleaks (redacted)
        args: ["detect","--redact","--verbose","--source","."]

  - repo: local
    hooks:
      - id: eslint
        name: eslint (staged JS/TS)
        entry: npx --no eslint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: true
        args: ["--max-warnings=0"]
      - id: tsc
        name: tsc typecheck (project)
        entry: npx --no tsc -p .
        language: system
        files: "\\.(ts|tsx)$"
        pass_filenames: false

      - id: prepush-security
        name: pre-push heavy security scan (semgrep+trivy)
        entry: bash scripts/prepush_security.sh
        language: system
        pass_filenames: false
        stages: [pre-push]

media-gateway DSP: generic 20ms window by streamSr + linear resampler fallback; ignore vendor binary (Agents WS JSON-only); deploy
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media-gateway: exclusive pass/encode send path, sample-rate latch guard, and first-frame diagnostics for PCMU/pass-through (no config changes)
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

infra(media-gateway): update artifact_key + artifact_sha256 to server-1760d9ce….mjs
  infra/terraform/media-gateway/variables.tf
Due: none

infra(media-gateway): add rollback.tfvars and ROLLBACK.md for quick artifact rollback
  infra/terraform/media-gateway/ROLLBACK.md
  infra/terraform/media-gateway/rollback.tfvars
Due: none

commit
  infra/terraform/media-gateway/tfplan_current
  infra/terraform/media-gateway/tfplan_partial
Due: none

media-gateway: unmute encode path when sr not yet latched (fallback sr=16000) and accept mulaw_8000; keep diagnostics
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

infra(media-gateway): point artifact to server-cf39ad6c….mjs (mulaw_8000 accept + unmute encode path)
  infra/terraform/media-gateway/variables.tf
Due: none

commit
  infra/terraform/media-gateway/tfplan_audio
Due: none

media-gateway: accept EL binary frames (EL_ACCEPT_BINARY=true); add one-time el:bin log; no other logic changes
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/user_data.tpl
Due: eslint

commit
  infra/terraform/media-gateway/tfplan_env
Due: none

media-gateway: after el:open, request client_events (audio, user_transcript, agent_response); accept any sr incl. mulaw via metadata
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

infra(media-gateway): point artifact to media/server-96197d034052259b8b38f0bcc43dc338820931047f0b0c4ab22df10f79854fe4.mjs (EL client_events request + sr latch for mulaw/any)
  infra/terraform/media-gateway/variables.tf
Due: none

commit
  infra/terraform/media-gateway/tfplan_lt
Due: none

media-gateway: include "track": "outbound" in Twilio media JSON for playback
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

infra(media-gateway): point artifact to media/server-317a6729ecb085caed07be74b1ec5e0f1e13458d9765cb54d7813656bbc96e09.mjs (track:'outbound' media JSON)
  infra/terraform/media-gateway/variables.tf
Due: none

chore(gitignore): ignore Terraform plan files; keep working tree clean
  apps/web/.gitignore
Due: none

media-gateway: robust fallback — if metadata missing, infer mode from container/raw (WAV μ-law pass, PCM/F32 encode); default encode
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

infra(media-gateway): point artifact to media/server-6a186c664efe41fb70508dd0474102d3443a95b866e34cad707aeab5b7a7fc3c.mjs (robust fallback for vendor format)
  infra/terraform/media-gateway/variables.tf
Due: none

logs: verify Twilio Event Streams signature (HMAC-SHA256) in logs/ingest; media: pace outbound frames at 25ms and send exactly one 160B frame per media event (pad/truncate)
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

infra(media-gateway): point artifact to media/server-9a1bb271dd6ebc72f97aadcb235a94c69aabc22852cf6244837160f06e20c163.mjs (paced 25ms single-frame send)
  infra/terraform/media-gateway/variables.tf
Due: none

infra(media-gateway): allow S3 HeadObject/GetObject for all media/server-*.mjs artifacts (stop 403 on instance fetch)
  infra/terraform/media-gateway/iam.tf
Due: none

docs: add mediahandoffcodex.md with precise current state, deployed changes, and next steps
  apps/web/docs/mediahandoffcodex.md
Due: none

media-ws: ElevenLabs post-open audio kick (session.update + timed response.create); PHI-safe logs; docs updated
  apps/web/docs/mediahandoffcodex.md
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/user_data.tpl
  infra/terraform/media-gateway/variables.tf
Due: eslint

infra: enable ALB access logs (S3), CloudWatch Logs+Agent, CW alarms, WAF (managed rules), Global Accelerator, Route53 subdomain zone; user-data metrics
  infra/terraform/media-gateway/alarms.tf
  infra/terraform/media-gateway/alb.tf
  infra/terraform/media-gateway/ga.tf
  infra/terraform/media-gateway/iam.tf
  infra/terraform/media-gateway/logs.tf
  infra/terraform/media-gateway/route53.tf
  infra/terraform/media-gateway/s3_alb_logs.tf
  infra/terraform/media-gateway/waf.tf
Due: none

events: verify Event Streams HMAC (HMAC-SHA256) in ingest; infra: add SNS topic + SMS subscription for CW alarms
  apps/web/app/api/voice/logs/ingest/route.ts
  infra/terraform/media-gateway/alarms.tf
  infra/terraform/media-gateway/sns.tf
Due: eslint, tsc

media: effortless deploy script + user-data SSM overrides for artifact key/sha; instance refresh automation
  infra/terraform/media-gateway/user_data.tpl
  scripts/deploy_media.sh
Due: none

infra: stabilize ASG/health checks; GA health on 443; robust Node install + ws ExecStartPre; SSM agent non-blocking
  infra/terraform/media-gateway/compute.tf
  infra/terraform/media-gateway/ga.tf
  infra/terraform/media-gateway/route53.tf
  infra/terraform/media-gateway/user_data.tpl
Due: none

infra: set ASG health_check_type=EC2; remove tracked tfplan_lt; keep plans ignored
  infra/terraform/media-gateway/compute.tf
  infra/terraform/media-gateway/tfplan_lt
Due: none

repo: remove previously tracked Terraform plan artifacts; guard prevents future commits
  .husky/pre-commit
  .husky/pre-push
  infra/terraform/media-gateway/plan.tfplan
  infra/terraform/media-gateway/tfplan_audio
  infra/terraform/media-gateway/tfplan_current
  infra/terraform/media-gateway/tfplan_env
  infra/terraform/media-gateway/tfplan_partial
Due: none

ssm: add persistent retry timer/service to ensure SSM agent becomes Managed post-boot without blocking media-ws
  infra/terraform/media-gateway/user_data.tpl
Due: none

media: support pre-baked S3 bundle (node + modules) to avoid apt/npm at boot; SSM params BUNDLE_KEY/SHA256
  infra/terraform/media-gateway/user_data.tpl
  scripts/deploy_media_bundle.sh
Due: none

fix(web): handle null pathname in dashboard-preview layout
  apps/web/app/dashboard-preview/layout.tsx
Due: eslint, tsc

fix(web): handle null pathname in dashboard layout
  apps/web/app/dashboard/layout.tsx
Due: eslint, tsc

fix(web): guard useSearchParams for null in AuthClient
  apps/web/app/login/AuthClient.tsx
Due: eslint, tsc

chore(pricing): swap to minutes-based tiers (Starter 200/49, Growth 800/99, Enterprise 2000/99)
  apps/web/app/pricing/page.tsx
Due: eslint, tsc

chore(cleanup): archive legacy artifacts to Desktop backup; remove from repo
  apps/api/.dockerignore
  apps/api/.env.example
  apps/api/Dockerfile
  apps/api/nest-cli.json
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/src/assistants/assistants.controller.ts
  apps/api/src/main.ts
  apps/api/src/module.ts
  apps/api/src/notifications/email.service.ts
  apps/api/src/routes/analytics.controller.ts
  apps/api/src/routes/health.controller.ts
  apps/api/src/routes/version.controller.ts
  apps/api/src/server.js
  apps/api/src/storage/s3.ts
  apps/api/src/storage/storage.module.ts
  apps/api/src/support/support.controller.ts
  apps/api/tsconfig.json
  apps/media/.dockerignore
  apps/media/Dockerfile
  apps/media/Procfile
  apps/media/README.md
  apps/media/nixpacks.toml
  apps/media/package-lock.json
  apps/media/package.json
  apps/media/server.mjs
  apps/media/server.ts
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint, tsc

feat(auth): enable email sign-up, style parity with sign-in, auto-login → dashboard
  apps/web/app/login/AuthClient.tsx
Due: eslint, tsc

chore: archive deploy_media_bundle.sh to Desktop misc; remove from repo
  scripts/deploy_media_bundle.sh
Due: none
