Repository oneearlybird-ai/oneearlybirdV1master: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc

eslint:
  name: eslint (staged JS/TS)
  entry: npx --no eslint
  language: system
  pass_filenames: true
  args:
  - --max-warnings=0

tsc:
  name: tsc typecheck (project)
  entry: npx --no tsc -p .
  language: system
  pass_filenames: false

fix(voice): allow track override for Connect/Stream to avoid Twilio 31941 while preserving bidirectional; harden WS (no deflate, payload cap)
  apps/media/server.mjs
  apps/web/app/api/voice/incoming/route.ts
Due: eslint, tsc

ux: Calls URL state sync + Reset; Integrations Connect UX (fetch + toasts); Mobile nav a11y (inert/aria-hidden on content)
  apps/web/app/dashboard/calls/page.tsx
  apps/web/app/dashboard/integrations/page.tsx
  apps/web/components/MobileNav.tsx
Due: eslint, tsc

ux: dashboard KPIs with real progress bars; calls table shows neutral sort chevrons; integrations add 'Coming soon' tooltip
  apps/web/app/dashboard/calls/page.tsx
  apps/web/app/dashboard/integrations/page.tsx
  apps/web/app/dashboard/page.tsx
Due: eslint, tsc

fix(voice): default Connect/Stream track to inbound_track to avoid Twilio 31941; bidirectional preserved via outbound media frames
  apps/web/app/api/voice/incoming/route.ts
Due: eslint, tsc

chore(debug): add secret fingerprint endpoint (len + sha256 only) for JWT drift debug
  apps/web/app/api/debug/secret-fingerprint/route.ts
Due: eslint, tsc

chore(debug): remove secret fingerprint endpoint; trigger deploy
  apps/web/app/api/debug/secret-fingerprint/route.ts
Due: eslint, tsc

chore(debug): fingerprint endpoint for MEDIA_SHARED_SECRET (sha256 only)
  app/api/debug/secret-fingerprint/route.ts
Due: eslint, tsc

fix: ElevenLabs conversation WS flow + TwiML inbound_track; add session.update and audio append/commit; vendor audio delta handling
  apps/media/server.mjs
  apps/web/.env.pull
  apps/web/.env.vercel.production
  apps/web/app/api/diag/media-secret/route.ts
  apps/web/app/api/voice/incoming/route.ts
  apps/web/package.json
Due: eslint, tsc

fix: TwiML inbound_track quoting; vendor safeJsonParse string input
  apps/media/server.mjs
  apps/web/app/api/voice/incoming/route.ts
Due: eslint, tsc

docs: record Twilio Auth Token rotation + SSM param; Vercel env update required
  docs/TWILIO_TOKEN_ROTATION_2025-09-22.md
Due: none

fix(web): adjust catch identifiers to satisfy no-unused-vars rule
  apps/media/server.mjs
  apps/web/app/api/voice/incoming/route.ts
  apps/web/app/dashboard/calls/page.tsx
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint, tsc

chore: force push local uncommitted changes
  apps/media/server.mjs
  apps/web/app/api/voice/incoming/route.ts
Due: eslint, tsc

chore(media): fix lint for vendor error catch identifier
  apps/media/server.mjs
Due: eslint

fix(media): enforce Twilio Media Streams order (connected → start → media) and guard media before start
  apps/media/server.mjs
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

feat(media): log upgrade URL/token; enforce connected→start→media; add simple echo back of μ-law silence after start; static-token policy at WS
  apps/media/server.mjs
Due: eslint

chore(media): remove unused xmlSafe; quiet empty catches
  apps/media/server.mjs
Due: eslint

commit
  apps/media/server.mjs
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

commit
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

Logs: add /api/voice/logs/ingest + Stream statusCallback in TwiML; gateway log webhook envs
  apps/web/app/api/voice/incoming/route.ts
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/user_data.tpl
Due: eslint, tsc

commit
  .vercel.bak_cli_1758751541/project.json
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

TwiML: remove statusCallbackEvent from <Stream> to avoid 12200 warnings
  .vercel.bak_cli_1758751541/README.txt
  apps/web/app/api/voice/incoming/route.ts
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint, tsc

Media WS: accept path-style JWT; relax upgrade sig; auth:deny reasons; fix lint (no empty catch, remove unused)
  apps/web/app/api/voice/incoming/route.ts
  infra/terraform/media-gateway/templates/server.mjs
  infra/terraform/media-gateway/user_data.tpl
Due: eslint, tsc

Add /api/voice/logs/ingest route (Next.js, apps/web); accept Twilio Event Streams + gateway telemetry
  apps/web/app/api/voice/logs/ingest/route.ts
Due: eslint, tsc

media gateway: fix lint in Terraform template (catch blocks no-empty/no-unused)
  apps/media/server.mjs
  apps/web/lib/storage/s3.ts
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint, tsc

docs(media): prefer path-style /rtm/voice/jwt/<token>; add /health; note Twilio <Stream> URL query restriction
  apps/media/README.md
Due: none

twilio: fix lint in stream status handler (unused catch vars)
  apps/web/app/api/voice/logs/ingest/route.ts
Due: eslint, tsc

media: tolerate Twilio out-of-order events; increase start grace (2500ms, env START_GRACE_MS) and prevent early close
  apps/media/server.mjs
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media: relax streamSid validation (accept non-empty instead of strict MS32 regex) to prevent premature close
  apps/media/server.mjs
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media: fix lint for outbound pacing (scoped _stopTx) and remove unused legacy downsample
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media: move txQueue/startTx/stopTx to connection scope; fix ECHO_BACK pacing references
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

twilio: fix lint for RING_DELAY_MS catch
  apps/web/app/api/voice/incoming/route.ts
  apps/web/apps/web/.gitignore
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint, tsc

Integrate Plasmic: host page, dynamic pages, loader setup, scoped CSP exceptions; add deps and env placeholders
  apps/web/.env.example
  apps/web/app/plasmic-host/page.tsx
  apps/web/app/plasmic/[...slug]/page.tsx
  apps/web/app/plasmic/page.tsx
  apps/web/lib/plasmic.ts
  apps/web/middleware.ts
  apps/web/package-lock.json
  apps/web/package.json
Due: eslint, tsc

Plasmic: register code components (Section, Card, Button, ProviderLogo, Marquee, Testimonials) and load in host page
  apps/web/app/plasmic-host/page.tsx
  apps/web/components/plasmic.registry.tsx
Due: eslint, tsc

media: add clear+mark on outbound, strict 160B echo enforcement, optional test tone (OUT_TEST_TONE_MS), and track/chunk/timestamp for Twilio playback
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

fix(build): add importPath/importName to plasmic component registrations to satisfy CodeComponentMeta
  apps/web/components/plasmic.registry.tsx
Due: eslint, tsc

twilio: accept 'audio' subprotocol in WS handshake; remove track="inbound_track" from <Connect><Stream> so outbound playback is not restricted
  apps/web/app/api/voice/incoming/route.ts
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint, tsc

media: log Twilio start.tracks and inbound marks to confirm bidirectional setup and playback
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media: strip unused timestamp state; keep minimal outbound payload only
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

media: aggregate outbound μ-law to ~200ms chunks, minimal media payload only, keep clear+mark; stricter 160B frame acceptance
  infra/terraform/media-gateway/templates/server.mjs
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|tsx)$
